/* line 5, ../../../../.rvm/gems/ruby-1.9.3-p545/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.3-p545/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
    line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.3-p545/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
    list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.3-p545/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.3-p545/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.3-p545/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
    quotes: none;
}

/* line 103, ../../../../.rvm/gems/ruby-1.9.3-p545/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-1.9.3-p545/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
    border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-1.9.3-p545/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

/* line 4, ../sass/style.scss */
body {
    font-size: 62.5%;
    font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", FontAwesome, sans-serif;
}

section {
    width: 76%;
    position: relative;
    margin: 0px auto;
}

header {
    width: 100%;
    height: 855px;
    position: relative;
    margin: 0px auto;
}

.background {
    z-index: -1;
    position: absolute;
    width: 100%;
    min-height: 100%;
    background: url("../images/sunset-resized.jpg");
    background-size: cover;
    -webkit-filter: brightness(0.7);
}

.header-container {
    max-width: 1060px;
    margin: 0 auto 0 auto;
}

.header-top {
    overflow: hidden;
    padding-top: 26px;
}

.leftpart {
    width: 150px;
    color: #ffffff;
    font-size: 49px;
    float: left;
}

.rightpart {
    width: 243px;
    float: right;
    padding-top: 7px;
}

.rightpart .agents,
.rightpart .login {
    margin: 0 10px;
    font-size: 17px;
    color: #ffffff;
    display: inline-block;
    text-decoration: none;
}

.rightpart .signup {
    color: #ffffff;
    font-size: 16px;
    background: rgba(255, 255, 255, 0);
    border: 1px solid #FFF;
    border-radius: 5px;
    padding: 9px 20px;
    margin-left: 6px;
    text-decoration: none;
    display: inline-block;
}

.header-center {
    text-align: center;
    height: 170px;
    margin: 230px auto 0 auto;
}

.header-center p {
    font-size: 36px;
    text-align: center;
    color: #FFF;
}

.header-center .tips {
    margin: 15px;
    text-align: center;
    font-size: 13px;
    color: #ffffff;
}

.searchtextbox {
    overflow: hidden;
    margin: 24px auto;
    border-radius: 3px;
    max-width: 640px;
}

.searchtextbox .text {
    margin: 0;
    background: rgba(255, 255, 255, 0.5);
    border: none;
    font-size: 18px;
    line-height: 18px;
    height: 24px;
    padding: 18px 10px 18px 10px;
    color: #FFF;
    width: 77.6%;
}

.searchtextbox .button {
    cursor: pointer;
    background: rgba(103, 221, 171, 1);
    border: none;
    color: #ffffff;
    font-size: 18px;
    height: 60px;
    padding: 18px 10px 18px 10px;
    width: 19%;
}

.tags {
    margin: 0px auto;
    width: 1060px;
    height: 150px;
    border-radius: 5px;
    background: #f4f3f1;
    border: 1px solid #dddddd;
    position: absolute;
    top: 766px;
    left: 189px;
}

.tags li {
    display: inline-block;
    margin: 0px;
    padding: 35px 84px;
    text-align: center;
}

.tags strong,
.tags small {
    display: block;
    line-height: 40px;
}

.tags small {
    color: #aaaaaa;
    font-size: 12px;
}

.tags strong {
    font-size: 27px;
    font-weight: bolder;
    color: #4d4d4d;
}

.right-border {
    border-right: 1px solid #dddddd;
}

.first {
    background: #f4f3f1;
    width: 100%;
    height: 634px;
    border-bottom: 1px solid #dddddd;
}

.second {
    background: #f4f3f1;
    width: 100%;
    height: 760px;
    border-bottom: 1px solid #dddddd;
}

.third {
    background: #f4f3f1;
    width: 100%;
    height: 634px;
    border-bottom: 1px solid #dddddd;
}

article .first-title {
    text-align: center;
    padding-top: 143px;
}

article .first-title p,
article .second-title p {
    color: #666666;
    font-size: 16px;
    font-weight: bold;
}

article .first-title hr,
article .second-title hr {
    width: 40px;
    margin-top: 12px;
    border: none;
    border-top: 2px solid #dddddd;
}

article .number {
    padding-left: 308px;
    padding-top: 51px;
}

article .number span,
article .number hr {
    display: inline-block;
}

article .number span {
    background: #ffffff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 37px;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid #dddddd;
    color: #666666;
}

article .number hr {
    width: 340px;
    border: none;
    border-top: 1px solid #dddddd;
}

article .content {
    padding-left: 138px;
    padding-top: 33px;
}

article .content .lower-title {
    font-size: 17px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 16px;
    color: #666666;
}

article .content .text {
    font-size: 14px;
    overflow: hidden;
    width: 100%;
    line-height: 16px;
    color: #9b9b9b;
}

article .content .block {
    vertical-align: top;
    text-align: center;
    padding: 0px 53px;
    width: 279px;
    display: inline-block;
}

article .second-title {
    text-align: center;
    padding-top: 102px;
}

article .second-content {
    padding: 0px 100px;
}

article .second-content ul {
    width: 503px;
    padding-top: 65px;
    padding-left: 84px;
    padding-right: 20px;
    vertical-align: top;
    display: inline-block;
}

article .second-content ul li img {
    display: inline-block;
    vertical-align: top;
}

article .second-content ul li {
    margin-bottom: 30px;
}

article .second-content ul .right-text {
    padding: 6px 36px;
    display: inline-block;
    vertical-align: top;
    width: 388px;
}

article .second-content ul .right-text p:nth-child(1) {
    font-size: 18px;
    font-weight: bold;
    color: #666666;
}

article .second-content ul .right-text p:nth-child(2) {
    overflow: hidden;
    margin-top: 10px;
    font-size: 14px;
    line-height: 20px;
    color: #9a9a9c;
}

.third .tab {
    overflow: hidden;
    padding-top: 80px;
    padding-left: 534px;

}

.third .border {
    width: 370px;
    border: 2px solid #9195a1;
    border-radius: 3px;
}

.third .tab button:nth-child(1) {
    cursor: pointer;
    background: #606779;
    border: none;
    width: 185px;
    height: 60px;
    font-size: 16px;
    color: #ffffff;
}

.third .tab button:nth-child(2) {
    cursor: pointer;
    background: #f4f3f1;
    border: none;
    width: 185px;
    height: 60px;
    font-size: 16px;
    color: #80808f;
}

.third p:nth-child(2) {
    text-align: center;
    padding-top: 35px;
    font-size: 50px;
    font-weight: bold;
    color: #d6d6d6;
}

.third p:nth-child(3) {
    text-align: center;
    margin: 0px auto;
    width: 1045px;
    font-size: 19px;
    line-height: 25px;
    color: #80808f;
}

.third .images {
    text-align: center;
}

.third .images img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 123px 27px;
    -webkit-filter: grayscale(1) opacity(0.3);

}

footer .footer-top{
    background: url("../images/sunset-resized.jpg");
    background-size: cover;
    width: 100%;
    min-height: 100%;
    padding: 110px 0px;
    text-align: center;
}

footer .footer-top .searchtextbox{
    display: inline-block;
    vertical-align: top;
    margin: 0px;
    width: 640px;
}

footer .footer-top span{
    display: inline-block;
    vertical-align: top;
    font-size: 27px;
    margin: 0px 7px;
    line-height: 53px;
    color: #ffffff;
}

footer .footer-bottom {
    height: 70px;
    width: 100%;
}

footer .footer-bottom ul{
    padding-top: 30px;
    padding-left: 189px;
}

footer .footer-bottom li{
    display: inline-block;
    margin: 0px 10px;
}

footer .footer-bottom li a{
    text-decoration: none;
    color: #aaaaaa;
    font-size: 17px;
}